.intro {
  height: 40rem;
  text-align: center;
  display: grid;
  grid-template-columns: (8, 1fr);
  grid-template-rows: (4, 1fr);
  grid-column-gap:6px;
  grid-template-areas:
    ". . a1  a1 a1  a1. ."
    "a2 a3 a4 a5 a6 a7 a8 a9"
    "a10 a11 a12 a13 a14 a15 a16 a17 "
    ".  a18 a19 a20 a21 a22  .  . ";
  justify-content: center;
  background: linear-gradient(

    0deg,
    rgb(171, 216, 211)0%,
    rgb(115, 191, 184)76%,
    rgb(39, 84, 79)100%
    );
  padding: 10px;
}
.write{
  width: 100%;
  height: 3rem;
  font-size: 22px;
  text-transform: uppercase;
  color: #C9E4C9;
  text-shadow: 2px 2px 10px #C9E4C9;
  display: flex;
  justify-content:center; 
  align-items:center;
  letter-spacing:1px;
  word-spacing:1px;
  font-weight:600;
  text-align: center; 
  list-style: none;
}
#a1{
  grid-area: a1;
}
#a2{
  grid-area: a2;
}
#a3{
  grid-area: a3;
}
#a4{
  grid-area: a4;
}
#a5{
  grid-area: a5;
}
#a6{
  grid-area: a6;
}
#a7{
  grid-area: a7;
}
#a8{
  grid-area: a8;
}
#a9{
  grid-area: a9;
}
#a10{
  grid-area: a10;
}
#a11{
  grid-area: a11;
}
#a12{
  grid-area: a12;
}
#a13{
  grid-area: a13;
}
#a14{
  grid-area: a14;
}
#a15{
  grid-area: a15;
}
#a16{
  grid-area: a16;
}
#a17{
  grid-area: a17;
}
#a18{
  grid-area: a18;
}
#a19{
  grid-area: a19;
}
#a20{
  grid-area: a20;
}
#a21{
  grid-area: a21;
}
#a22{
  grid-area: a22;
}
.intro-text{
   text-transform: uppercase;
  font-weight: 500;
  padding: 1rem 2.5rem;
  margin-bottom: 1.5rem;
  border-radius: 1.5rem;
  display: inline;
}
.contain{
  letter-spacing:0.8px;
  font-weight:600;
  margin-top:0;
  height:42px;
  padding-bottom:16px;
  margin-bottom:14px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}
.contain span{
  font-size:0.8rem;
}
.lay-card{
  width:7rem;
  margin-top: 10px;
  height: 10rem;
  transition: 0.4s;
  border-radius: 8px;
  padding-bottom:10px;
  box-shadow:  0 12px 9px 0 rgba(0,0,0,0.25);
  background-color: #33706b;
  color: #f0e1d1;
}
.lay-card img{
  width: 100%;
  height: 7rem;
  border-top-right-radius:8px;
  border-top-left-radius:8px;
  box-sizing:border-box;
  margin-top:0;
}
.lay-card:hover{
  box-shadow: 0 8px 15px 0 rgba(0,0,0,0.20);
}
.footer {
  display: flex;
  height: 54rem;
  justify-content:space-between;
  flex-direction: column;
  background-color:#408c85;
  border-top: 1px solid #65B8B3;
  border-bottom: 1px solid #65B8B3;
}
.address {
  padding: 1.5rem;
}
.address img {
  width: 2rem;
  margin-right: 1rem;
}
.address li {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-bottom: 1rem;
}
.address li img{
  width: 28px;
}
.address p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #f0e1d1;
}
.links {
  padding: 1.5rem 1.5rem 1.5rem 2rem;
}
.alpha{
  color: #dedede;
  width: 100%;
}

.links p{
 font-size: 1.5rem; 
  color: #E9DCD8;
  text-decoration: none;
  margin-top: -0.5rem;
}
.links p:hover{
  text-decoration: underline;
}
.a-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.a-links a {
  text-decoration: none;
  font-size: 20px;
  color: #f0e1d1;
  margin-bottom: 0.5rem;
}
.social_media {
  padding: 2.5rem;
}
.social_media p {
  color: #f0e1d1;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: -38px;
  text-align: center;
}
.social_media_links {
  display: flex;
  justify-content: space-evenly;
}
.social_media_links img {
  width: 2rem;
  margin-top: 0.2rem;
}
.copy{
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  background-color: #C7E5E3;
  color: #33706b;
}
@media (max-width: 768px){
  .intro{
max-width: 100%;
    padding: 1rem;
  height: 90rem;
    grid-template-areas:
      ". a1 a1 a1"
      ". a2 a3 a4"
      ". a5 a6 a7"
      ". a8 a9 a10"
      ". a11 a12 a13"
      ". a14 a15 a16"
      ". a17 a18 a19"
      ". a20 a21 a22";
  justify-content: center;
  }
  .intro-text{
    font-weight: 500;
      font-size: 1.8rem;
      padding: 2rem 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
   .welcomeTo {
      font-size: 1.2rem;
    }
    .here {
      font-size: 1.1rem;
    }
}
  @media (max-width: 810px){
    
   .footer {
    max-width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: #33706b;
    color: #f0e1d1;
    }
      .alpha{
    display:none;
  }
    .address img {
      width: 2.5rem;
    }
    .address p {
      font-size: 1.2rem;
      font-weight: 500;
    text-transform: uppercase;
    }
    .links p {
      font-size: 1.5rem;
    margin-top: 12px;
    text-transform: uppercase;
    }
    .a-links a {
      font-size: 1.5rem;
    gap: 20px;
    text-transform: uppercase;
    }
    .social_media {
      padding: 3.5rem;
    }
    .social_media p {
      display: none;
    }
    .social_media_links img {
      width: 1.3rem;
    }
    .social_media_links {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
    }
    .twitter::after {
      content: "\00A0Twitter";
      font-size: 1.8rem;
    }
    .facebook::after {
      content: "\00A0 Facebook";
      font-size: 1.8rem;
    }
    .instagram::after { 
    content: "\00A0Instagram";  
     font-size: 1.8rem;
    }
  .youtube::after{
    content: "\00A0 Youtube";
     font-size: 1.8rem;
  }
    .copy {
      font-size: 1.1rem;
      font-weight: 600;
    }

}
